#homeNav {
  position: absolute;
  top: 45px;
  left: 0;
  overflow: auto;
  background-color: rgb(242, 242, 242);
  border-right: 1px solid rgb(217, 217, 217);
}

#homeNav ul {
  font-family: Helvetica;
  list-style-type: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  background-color: rgb(242, 242, 242);
  z-index: 1001;
}

#homeNav ul li {
  margin: 5px;
}

#homeNav ul li a {
  font-family: Helvetica;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  color: #222;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 10px 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

#homeNav ul li a img {
  max-height: 25px;
  max-width: 25px;
}

#homeNav ul li .selected {
  box-shadow:inset 0 0 13px #acadad;
}
