header {
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#999),
    color-stop(0.02, #666),
    to(#222)
  );
  font-family: Chunk, Helvetica;
  
  -webkit-box-sizing: border-box;
  
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  
  font-weight: bold;
  font-size: 1.5em;
  text-rendering: optimizeLegibility;
  
  -webkit-box-shadow: 0 1px 10px 1px #222;
}

section {
  position: absolute;
  top: 44px;
  left: 58px;

  padding: 10px;

  background-color: #f7f7f7;
}

.inner_text_shadow {
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 1px;
  text-rendering: optimizeLegibility;
}

.hidden {
  display: none;
}
